<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<credit:request xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:credit="http://www.forum-datenaustausch.ch/credit" xsi:schemaLocation="http://www.forum-datenaustausch.ch/credit generalCreditRequest_430.xsd" xmlns="http://www.forum-datenaustausch.ch/credit" language="de" modus="production" validation_status="0">
    <credit:processing>
        <credit:transport from="{{biller.gln_number}}" to="{{insurance.gln_nr}}">
            <credit:via via="{{customer.gln_number}}" sequence_id="1"/>
        </credit:transport>
    </credit:processing>
    <credit:payload type="new" cost_estimate="1" copy="0" storno="0">
        <credit:credit request_timestamp="{{timestamp}}" request_date="{{date}}" request_id="{{name}}"/>
        <credit:body role="{{role}}" place="{{place}}">
            <credit:prolog>
                <credit:package name="spinadent" copyright="libracore AG" version="1"/>
                <credit:generator name="libracore business software/ERPNext" copyright="libracore AG" version="12"><credit:depends_on name="miscValidator ATL Module" copyright="Suva" version="200" id="1002090101"/>
                </credit:generator>
            </credit:prolog>                
            <credit:org case_id="{{accident_details.accident_id}}" case_date="{{accident_details.accident_date}}" />
            <credit:requestor ean_party="{{customer.gln_number}}">
                <credit:person title="{{customer.title}}">
                    <credit:familyname>{{customer.family_name}}</credit:familyname>
                    <credit:givenname>{{customer.given_name}}</credit:givenname>
                    <credit:postal>
                        <credit:street>{{customer.street}}</credit:street>
                        <credit:zip{% if customer.statecode %} statecode="{{customer.statecode}}"{% endif %}>{{customer.zip}}</credit:zip>
                        <credit:city>{{customer.city}}</credit:city>
                    </credit:postal> 
                    <credit:telecom>
                        <credit:phone>{{customer.phone}}</credit:phone>
                        {%- if customer.fax %}<credit:fax>{{customer.fax}}</credit:fax>{% endif %}
                    </credit:telecom>
                    {%- if customer.email or customer.url %}<credit:online>
                        {%- if customer.email %}<credit:email>{{customer.email}}</credit:email>{% endif %}
                        {%- if customer.url %}<credit:url>{{customer.url}}</credit:url>{% endif %}
                    </credit:online>{% endif %}
                </credit:person>
            </credit:requestor>
            <credit:contact ean_party="{{customer.gln_number}}">
                <credit:person title="{{customer.title}}">
                    <credit:familyname>{{customer.family_name}}</credit:familyname>
                    <credit:givenname>{{customer.given_name}}</credit:givenname>
                    <credit:postal>
                        <credit:street>{{customer.street}}</credit:street>
                        <credit:zip{% if customer.statecode %} statecode="{{customer.statecode}}"{% endif %}>{{customer.zip}}</credit:zip>
                        <credit:city>{{customer.city}}</credit:city>
                    </credit:postal> 
                    <credit:telecom>
                        <credit:phone>{{customer.phone}}</credit:phone>
                        {%- if customer.fax %}<credit:fax>{{customer.fax}}</credit:fax>{% endif %}
                    </credit:telecom>
                    {%- if customer.email or customer.url %}<credit:online>
                        {%- if customer.email %}<credit:email>{{customer.email}}</credit:email>{% endif %}
                        {%- if customer.url %}<credit:url>{{customer.url}}</credit:url>{% endif %}
                    </credit:online>{% endif %}
                </credit:person>
            </credit:contact>
            <credit:provider ean_party="{{provider.gln_number}}" zsr="{{provider.zsr_number}}">
                <credit:person title="{{provider.title}}"> 
                    <credit:familyname>{{provider.family_name}}</credit:familyname>
                    {%- if provider.given_name %}<credit:givenname>{{provider.given_name}}</credit:givenname>{% endif %}
                    {%- if provider.subaddressing %}<credit:subaddressing>{{provider.subaddressing}}</credit:subaddressing>{% endif %}
                    <credit:postal>
                        <credit:street>{{provider.street}}</credit:street>
                        <credit:zip{% if provider.statecode %} statecode ="{{provider.statecode}}"{% endif %}>{{provider.zip}}</credit:zip>
                        <credit:city>{{provider.city}}</credit:city>
                    </credit:postal>
                    <credit:telecom>
                        <credit:phone>{{provider.phone}}</credit:phone>
                        {%- if provider.fax %}<credit:fax>{{provider.fax}}</credit:fax>{% endif %}
                    </credit:telecom>  
                </credit:person>
            </credit:provider>
            <credit:patient gender="{{patient.gender}}" birthdate="{{patient.birthdate}}" ssn="{{patient.ahv_number}}">
                <credit:person salutation="{{patient.salutation}}">
                    <credit:familyname>{{patient.family_name}}</credit:familyname>
                    <credit:givenname>{{patient.given_name}}</credit:givenname>
                    <credit:postal>
                        <credit:street>{{patient.street}}</credit:street>
                        <credit:zip>{{patient.zip}}</credit:zip>
                        <credit:city>{{patient.city}}</credit:city>
                    </credit:postal>
                </credit:person>
            </credit:patient>
            <credit:cost_bearer ean_party="{{insurance.gln_nr}}"> 
                <credit:company>
                    <credit:companyname>{{insurance.company}}</credit:companyname>
                    <credit:postal>
                        <credit:street>{{insurance.street}}</credit:street>
                        <credit:zip>{{insurance.zip}}</credit:zip>
                        <credit:city>{{insurance.city}}</credit:city>
                    </credit:postal>
                </credit:company>
            </credit:cost_bearer>
            <credit:treatment date_begin="{{treatment.begin_date}}" canton="{{treatment.canton}}" reason="{{treatment.reason}}">
                <credit:diagnosis type="freetext">{{treatment.diagnosis}}</credit:diagnosis>
            </credit:treatment>
            <credit:services> 
                {% for i in items %}
                    <credit:service record_id="{{loop.index }}" tariff_type="223" code="{{i.item_code}}" name="{{i.item_name}}"> 
                        <credit:cost_request quantity="{{i.qty}}" base_amount="{{i.rate}}" scale_factor="1.0" amount="{{i.amount}}" />
                    </credit:service>
                {% endfor %}    
            </credit:services>
            <credit:remark>{{ remark }}</credit:remark>
        </credit:body>
    </credit:payload>
</credit:request>
